@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    @apply text-gray-800 bg-gray-100;
  }
  
  h1 {
    @apply text-4xl font-bold text-gray-900;
  }
  
  h2 {
    @apply text-3xl font-semibold text-gray-900;
  }
  
  h3 {
    @apply text-2xl font-semibold text-gray-800;
  }
  
  p {
    @apply text-base text-gray-700 leading-relaxed;
  }
}

:root {
  /* 

  */

   /*BACKGROUND & ACCENTS  */
  --BODYBGCOLOR: #ECF0F1;
  --SOFTGRAY: #BDC3C7;

/* SECONDARY COLORS (HIGHLISTS & ACTIONS) */
  --EMERALDGREEN: #2ECC71;
  --AMBERORANGE: #F39C12;
  --CRIMSONRED: #E74C3C;


  /* PRIMARY COLORS */
  --DEEPBLUE: #7F8C8D;
  --STEELGRAY: #2C3E50;

/* TYPOGRAPHY & TEXT */
--HEADING: #2C3E50;
--PARAGRAPHTEXT: #4D5D67;
--SECONDARYTEXT: #7F8C8D;

/* BUTTONS & ACTIONS */
--PRIMARYBTNBG: #2980B9;
--PRIMARYBTNFG: #FFFFFF;
--SECONDARYBTNBG: #BDC3C7;
--SECONDARYBTNFG: #2C3E50;
--SUCCESSBTNBG: #2ECC71;
--SUCCESSBTNFG: #FFFFFF;
--WARNINGBTNBG: #F39C12;
--WARNINGBTNFG: #FFFFFF;
--DANGERBTNBG: #E74C3C;
--DANGERBTNFG: #FFFFFF;

/* BACKGROUNDS & CARDS */
--CARDBGMAIN: #ECF0F1;
--CARDSECTIONBG: #F7F9F9;
--BORDERSDIVIDERS: #D5DBDB;

}
body {
  margin: 0;
  height: 100vh;
  background: var(--BODYBGCOLOR);
}

aside {
  @apply bg-gray-100 text-gray-800
}

.cards{
  @apply flex gap-4 mt-8;
}
.cards .card {
  @apply w-[300px] h-[200px] rounded-lg shadow-lg flex justify-center items-center text-center;
  background: var(--CARDBGMAIN);

}

/* table {
  @apply mt-10;
  width: 87%;
  border-collapse: collapse;
}
/* table, th, td {
  border: 1px solid var(--BORDERSDIVIDERS);
} */


.footer svg { cursor: pointer; }
.footer svg:first-child { fill: var(--EMERALDGREEN); }
.footer svg:last-child { fill: var(--DANGERBTNBG); }

.missing-table {
  width: 80%;
  margin-top: 50px;
}
.missing-table th, td {
  width: 20%;
}
.missing-table th{
  background: var(--CRIMSONRED);
  padding: 1rem;
  text-align: left;
  margin-bottom: 40px;
  font-size: 1.3rem;
}
th, td {

} 
td:first-child {
  padding-left: 15px;

}


tr:nth-child(even) {
  background-color: var(--SOFTGRAY);
}

.card-container {
  @apply flex justify-center items-center text-xl font-medium rounded-lg shadow-lg cursor-pointer;
  width: 300px;
  height: 200px;
  background: whitesmoke;
  transition: 400ms all;
}
.card-container:hover {
  scale: 1.2;
}
.range-number {
  @apply flex flex-col justify-evenly p-4
}
.range-number input {
  @apply p-4 rounded-md text-gray-500 text-xl  mt-5
}

.container svg {
  height: 50px;
  fill: rgb(82, 82, 82);
  margin-bottom: 20px;
}